<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Map_Thumbnail_Bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,476},{125,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,14}}</string>
			<key>sourceSize</key>
			<string>{125,14}</string>
		</dict>
		<key>Map_Thumbnail_BottleNeck.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Catacombs.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,2},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Cliffhanger.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,2},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Crossfire.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,2},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_HighTower.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,81},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Icebox.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,81},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Junkyard.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,81},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Lunarcy.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,81},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_NoEscape.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,160},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Outpost.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,239},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Overseer.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,318},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Pyramid.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,397},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Random.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,318},{124,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,77}}</string>
			<key>sourceSize</key>
			<string>{124,77}</string>
		</dict>
		<key>Map_Thumbnail_SnowBlind.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,160},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_SoLong.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,160},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Subdivision.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,160},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Survival.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,239},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Suspension.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,318},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Training.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,397},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Underground.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,239},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Undermine.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,239},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
		<key>Map_Thumbnail_Vantage.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,318},{125,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,77}}</string>
			<key>sourceSize</key>
			<string>{125,77}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>chooseMap.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>chooseMap.png</string>
	</dict>
</dict>
</plist>
